# Anyhting in the "build/"" Directory
build/*



## DEFAULT C++ .GITIGNORE FILE from Github https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore
##
## (was said to be goo dpractice to keep this full list for .gitignore, even if not all are necessary
## incase they were to be added later)

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
